[submodule "sources/SQuIDS"]
	path = sources/SQuIDS
	url = https://github.com/jsalvado/SQuIDS.git
[submodule "sources/nuSQuIDS"]
	path = sources/nuSQuIDS
	url = https://github.com/arguelles/nuSQuIDS.git
[submodule "sources/PhysTools"]
	path = sources/PhysTools
	url = https://github.com/alexwenym/PhysTools.git
[submodule "sources/LeptonWeighter"]
	path = sources/LeptonWeighter
	url = https://github.com/alexwenym/LeptonWeighter.git
