[submodule "vendor/SQuIDS"]
	path = vendor/SQuIDS
	url = https://github.com/jsalvado/SQuIDS.git
[submodule "vendor/nuSQuIDS"]
	path = vendor/nuSQuIDS
	url = https://github.com/arguelles/nuSQuIDS.git
[submodule "vendor/LeptonWeighter"]
	path = vendor/LeptonWeighter
	url = https://github.com/icecube/LeptonWeighter.git
[submodule "vendor/PhysTools"]
	path = vendor/PhysTools
	url = https://github.com/icecube/PhysTools.git
